{{#view App.ClickableView}}
This is a clickable area!
{{/view}}

<h1>Users</h1>
{{#if users.isLoaded}}
  <table class='table table-striped'>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    {{#each user in users}}
      <tr>
        <td>{{user.id}}</td>
        <td>
          {{#linkTo 'users.show' user}}{{user.fullName}}{{/linkTo}}
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p class="loading">Loading Users</p>
{{/if}}

{{#linkTo 'users.new' class='btn'}}New User{{/linkTo}}